---
title: Careers
---
<main id="main" class="content-careers">
  <div class="section-page-header position-relative">
    <div class="section-wrapper position-relative">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="holder d-flex align-items-center justify-content-center">
            <header class="section-title text-center text-light">
              <h2 class="title">Work @ Foodkit</h2>
              <div class="subtitle">
                <p>We love technology</p>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <%= partial "partials/about_us_links", :locals => {:selected => 'about-careers'} %>
  <div class="section-preview position-relative d-flex">
    <div class="bg-stretch position-absolute h-100 w-100">
      <div class="position-relative h-100 w-100">
        <img class="img-as-bg position-absolute" srcset="images/preview-box-bg2-large.jpg, images/preview-box-bg2-large-2x.jpg 2x">
      </div>
    </div>
    <div class="container d-flex">
      <div class="row">
        <div class="col-12 d-flex align-items-center">
          <div class="preview-box-info">
            <div class="text-center">
              <h2 class="preview-box-title">Work in Bangkok, <span class="text-success">Asia’s most exciting city</span></h2>
              <div class="text-holder hidden-md-down">
                <p>Bangkok is the hub for Asia’s most innovative start start ups, offering you the opportunity to network and establish connections with innovative tech companies across the region. Join our team and you will work alongside a multicultural group of industry professionals who are committed to building the next generation of restaurant technology for a global market.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-mibile-info hidden-md-up">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="info-holder text-center">
            <div class="text-holder">
              <p>Do meaningful work and build your career in Bangkok. Thailand is regarded as of one of the most beautiful countries on earth and offers a diverse variety of pleasures,  ranging from world class beaches, great night life and high quality, low cost living.</p>
            </div>
            <div class="img-holder d-flex justify-content-center">
              <div class="position-relative">
                <div class="static-img">
                  <div class="rounded-circle">
                    <picture>
                      <source srcset="images/description-img5-small.jpg, images/description-img5-small-2x.jpg 2x" media="(max-width: 767px)">
                      <source srcset="images/description-img5-large.jpg, images/description-img5-large-2x.jpg 2x">
                      <img src="images/description-img5-small" alt="image description">
                    </picture>
                  </div>
                </div>
                <div class="small-img rounded-circle position-absolute">
                  <picture>
                    <source srcset="images/description-img6-small.jpg, images/description-img6-small-2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="images/description-img6-large.jpg, images/description-img6-large-2x.jpg 2x">
                    <img src="images/description-img6-small.jpg" alt="image description">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-current white-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="section-title d-flex flex-column text-center">
            <h2 class="title">Current positions</h2>
            <div class="subtitle">
              <p>Join the revolution </p>
            </div>
          </header>
        </div>
      </div>
      <div class="tab-careers">
        <div class="row">
          <div class="col-md-5 col-lg-4 d-flex">
            <ul class="tabs-nav nav flex-column nav-pills" id="v-pills-tab" role="tablist">
              <% data.jobs.jobs.each do |job| %>
                <li class="nav-item">
                  <a class="h5 nav-link active position-relative" id="v-pills-<%= job.slug %>-tab" data-toggle="pill" href="#v-pills-<%= job.slug %>" role="tab" aria-controls="v-pills-<%= job.slug %>" aria-expanded="true">
                    <%= job.title %>
                  </a>
                  <span class="subtitle"><%= job.department %></span>
                  <a class="modal-opener nav-link hidden-md-up" href="#v-pills-<%= job.slug %>" data-toggle="pill" role="tab" aria-controls="v-pills-<%= job.slug %>" aria-expanded="true">Read more</a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="col-md-7 col-lg-8">
            <div class="tab-careers-content tab-content" id="v-pills-tabContent">

              <% data.jobs.jobs.each do |job| %>
              <div class="tab-pane fade active show" id="v-pills-<%= job.slug %>" role="tabpanel" aria-labelledby="v-pills-<%= job.slug %>-tab" aria-expanded="true">
                <div>
                  <div class="modal-header">
                    <h5 class="modal-title"><%= job.title %></h5>
                    <button type="button" class="btn-close-lightbox close hidden-md-up" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <div class="text-section">
                    <p><%= job.description %></p>
                  </div>
                  <div class="text-section">
                    <h6 class="box-title text-primary">Responsibilities</h6>
                    <ul class="list-unstyled mb0">
                      <% job.responsibilities.each do |responsibility| %>
                        <li><%= responsibility %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="text-section">
                    <h6 class="box-title text-primary">Experience</h6>
                    <ul class="list-unstyled mb0">
                      <% job.experiences.each do |experience| %>
                        <li><%= experience %></li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="btn-section">
                    <a href="<%= job.link %>" class="btn btn-warning badge-pill">Apply Now</a>
                  </div>
                </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
