---
title: Pricing for Developers
---
<main id="main" class="content-api-features">
  <div class="section-page-header position-relative">
    <div class="section-wrapper position-relative">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="section-title text-center text-light">
            <h2 class="title">Get started today.</h2>
          </header>
        </div>
        <div class="col-12">
          <div class="btn-check d-flex align-items-center flex-column">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-light pricing-btn monthly active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>Monthly
              </label>
              <label class="btn btn-light pricing-btn yearly">
                <input type="radio" name="options" id="option2" autocomplete="off">Yearly
              </label>
            </div>
            <div class="subtitle text-light">
              <span>30% Discount on yearly</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card-deck d-flex flex-wrap justify-content-center">
            <% data.plans.plans.each do |plan| %>
            <div class="card text-center">
              <div class="card-header"><%= plan.name %></div>
              <div class="price-box card-title d-flex align-items-center justify-content-center mb-0">
                <% if plan.price and plan.setup_price %>
                  <div class="price-holder monthly">
                    <p><sup>$</sup><span class="text-amount"><%= plan.price.round 0 %></span><span>/mo</span></p>
                    <p class="subtitle">+ $<%= plan.setup_price.round 0 %> Setup Fee</p>
                  </div>
                  <div class="price-holder yearly hide">
                    <p><sup>$</sup><span class="text-amount"><%= (plan.price - plan.price.*(data.plans.yearly_discount)).round 0 %></span><span>/mo</span></p>
                    <p class="subtitle">+ $<%= (plan.setup_price - plan.setup_price.*(data.plans.yearly_discount)).round 0 %> Setup Fee</p>
                  </div>
                <% else %>
                  <div class="price-holder">
                    <span class="price-info">Contact us</span>
                  </div>
                <% end %>
              </div>
              <div class="card-body">
                <% plan.features.each do |feature| %>
                  <p class="card-text"><%= feature %></p>
                <% end %>
              </div>
              <div class="card-footer">
                <a href="#" class="btn <%= plan.css %> d-block btn-cta">Get started</a>
              </div>
            </div>
            <% end %>
            <!--div class="card text-center">
              <div class="card-header">Single</div>
              <div class="price-box card-title d-flex align-items-center justify-content-center mb-0">
                <div class="pice-holder">
                  <p><sup>$</sup><span class="text-amount">49</span><span>/mo</span></p>
                  <p class="subtitle">+ $199 Setup Fee</p>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Get your restaurant online fast</p>
                <p class="card-text">Single store</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-success d-block btn-cta">Get started</a>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-header">Growth</div>
              <div class="price-box card-title d-flex align-items-center justify-content-center mb-0">
                <div class="price-holder">
                  <p><sup>$</sup><span class="text-amount">599</span><span>/mo</span></p>
                  <p class="subtitle">+ $399 Setup Fee</p>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Grow your restaurant  busines</p>
                <p class="card-text">Max 5 stores</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-warning d-block btn-cta">Get started</a>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-header">Chain</div>
              <div class="price-box card-title d-flex align-items-center justify-content-center mb-0">
                <div class="price-holder">
                  <p><sup>$</sup><span class="text-amount">1999</span><span>/mo</span></p>
                  <p class="subtitle">+ $999 Setup Fee</p>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Scale your growing restaurants digital services</p>
                <p class="card-text">Max 15 stores</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary d-block btn-cta">Get started</a>
              </div>
            </div>
            <div class="card text-center">
              <div class="card-header">Enterprise</div>
              <div class="price-box card-title d-flex align-items-center justify-content-center mb-0">
                <div class="price-holder">
                  <span class="price-info">Contact us</span>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Power success with a full multi-store platform</p>
                <p class="card-text">Multi store</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-dark d-block">Contact us</a>
              </div>
            </div-->
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="section-tables">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="section-title text-center">
            <h2 class="title">Compare features</h2>
            <div class="subtitle">
              <p>Features for every restaurant size and requirement</p>
            </div>
          </header>
        </div>
      </div>
      <div class="table-holder">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Included in<span class="hidden-md-down"> all</span> plans</th>
                  <th class="text-primary">S<span class="hidden-md-down">ingle</span></th>
                  <th class="text-primary">G<span class="hidden-md-down">rowth</span></th>
                  <th class="text-primary">C<span class="hidden-md-down">hain</span></th>
                  <th class="text-primary">E<span class="hidden-md-down">nterprise</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">No transaction fees</th>
                  <td>0%</td>
                  <td>0%</td>
                  <td>0%</td>
                  <td>0%</td>
                </tr>
                <tr>
                  <th scope="row">Products, file storage and bandwidth</th>
                  <td>
                    <i class="icon-checkmark hidden-md-up"></i>
                    <span class="hidden-md-down">Unlimited</span>
                  </td>
                  <td>
                    <i class="icon-checkmark hidden-md-up"></i>
                    <span class="hidden-md-down">Unlimited</span>
                  </td>
                  <td>
                    <i class="icon-checkmark hidden-md-up"></i>
                    <span class="hidden-md-down">Unlimited</span>
                  </td>
                  <td>
                    <i class="icon-checkmark hidden-md-up"></i>
                    <span class="hidden-md-down">Unlimited</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th>Features</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Orders and transactions</th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Cards, checkout and payment gateways</th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Menu - Products, Categories, Collections</th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Customers</th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Languages</th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Currencies</th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Webhooks</th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Delivery zones</th>
                  <th></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Promotions engine</th>
                  <th></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">eWallet</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Loyalty</th>
                  <th></th>
                  <th></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">Multiple Stores</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
                <tr>
                  <th scope="row">SLA</th>
                  <th></th>
                  <th></th>
                  <th><i class="icon-checkmark"></i></th>
                  <th><i class="icon-checkmark"></i></th>
                </tr>
              </tbody>
            </table>
            <table class="table hidden-md-down">
              <thead>
                <tr>
                  <th>Support</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Onboarding support</th>
                  <th>Basic</th>
                  <th>Basic</th>
                  <th>10 weeks onboarding</th>
                  <th>6 months onboarding</th>
                </tr>
                <tr>
                  <th scope="row">Product support</th>
                  <th>Basic</th>
                  <th>Basic</th>
                  <th>Pro support team</th>
                  <th>Premium supprt</th>
                </tr>
                <tr>
                  <th scope="row">SLA</th>
                  <th></th>
                  <th></th>
                  <th>99.5% uptime SLA</th>
                  <th>Custom</th>
                </tr>
              </tbody>
            </table>
            <table class="table hidden-md-down">
              <thead>
                <tr>
                  <th>Performance</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Operations / month <br>(API operations / webhooks)</th>
                  <th>upto 30,000.</th>
                  <th>250,000</th>
                  <th>1,000,000</th>
                  <th>Unlimited</th>
                </tr>
                <tr>
                  <th scope="row">Operations cap <br>(per second)</th>
                  <th>5</th>
                  <th>25</th>
                  <th>50</th>
                  <th>Unlimited</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-actions">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between position-relative">
              <div class="text-holder position-relative">
                <h4 class="card-title">Get started today</h4>
                <p class="card-text hidden-md-down">Ready to learn more? Contact our team today.</p>
              </div>
              <div class="btn-holder position-relative">
                <a href="#!" class="btn btn-warning btn-warning-custom badge-pill btn-cta">GET STARTED</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
